@font-face {
    font-family: OpenSans; 
	src: url("../fonts/OpenSans-Light.ttf"); 
	src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/OpenSans-Light.ttf") format("truetype"),
	url('OpenSans-Light.svg#OpenSans-Light') format('svg');
}
body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background-color: rgb(0, 92, 110);
}
#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}
.header{
	min-height: 100px;
	position: relative;
	z-index: 10;
}
.header a{
	text-decoration: none;
}
.back_link{
	display: block;
	cursor: pointer;
	margin-top:40px;
	text-decoration: none;
	transition:margin-right .3s ease-in-out;
	-webkit-transition:margin-right .2s ease-in-out;
	-moz-transition:margin-right .2s ease-in-out;
	-o-transition:margin-right .2s ease-in-out;
	-ms-transition:margin-right .2s ease-in-out;
}
.back_link:hover{
	margin-right: 10px; 
}
.error_container{
	text-align:center;
	padding: 10px;
	border: 1px solid white;
	border-radius: 3px;
	width: 100%;
	margin: 0 0 20px 0;
	font-size: 15px;
	float:left;
}
.login_header{
	text-align: center;
	color:white;
	font-size: 25px;
	font-family: OpenSans;
}
.header-logo{
	font-size: 30px;
	color:white;
	font-family: OpenSans
}
.header-right{
	text-align: right;
	font-size:15px;
}
.header-right a{
	padding: 10px;
	background: #337D8D;
	cursor: pointer;
	float: right;
	display: block;
	margin-top:-10px;
	transition:margin-top .1s ease-in-out;
	-webkit-transition:margin-top .1s ease-in-out;
	-moz-transition:margin-top .1s ease-in-out;
	-o-transition:margin-top .1s ease-in-out;
	-ms-transition:margin-top .1s ease-in-out;
}
.header-right a:hover{
	margin-top:0px;
}
#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}
.cover{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none
}
.modal-form{
	position: fixed;
	top:5%;
	left: 0;
	right: 0;
	width:400px;
	height: 200px;
	background: #337D8D;
	display: block;
	margin: 0 auto;
	z-index: 10;
	display: none;
	padding: 20px; 
}
.registration-form{
	width: 550px;
	float: left;
	text-align:center;
	padding:10px;
	background: rgba(51, 125, 141, 0.78);
	/*background: #337D8D;*/
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.5);
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border: 3px solid #fff;
}
.login-form{
	width: 400px;
	float: left;
	text-align:right;
	padding:10px;
	background: rgba(51, 125, 141, 0.78);
	/*background: #337D8D;*/
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow:0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow:0 0 10px rgba(0,0,0,0.5);
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:3px solid white;
}
.login-form a{
	text-decoration: none;
	transition: text-decoration .2s ease-in-out;
	-webmaster-transition: text-decoration .2s ease-in-out;
	-moz-transition: text-decoration .2s ease-in-out;
	-o-transition: text-decoration .2s ease-in-out;
	-ms-transition: text-decoration .2s ease-in-out;
}
.login-form a:hover{
	text-decoration:underline;
}
.user-input-field-registration{
	display: block;
	width: 92%;
	height: 25px;
	font-family: OpenSans;
	font-size: 15px;
	margin:5px 0 5px 0;
	float:right;
}
.registration-form span{
	font-size: 15px;
	display: block;
	margin: 5px 0 0 0;
}
.registration-form input[type=text], .registration-form input[type=password]{
	border: 2px solid #1C6A7E;
}
.login-form input[type=text], .login-form input[type=password]{
	border: 2px solid #1C6A7E;
}
.login-lable{
	float: left;
	font-size: 15px
}
.user-input-field{
	display: block;
	width: 99%;
	height: 30px;
	font-family: OpenSans;
	font-size: 15px;
	margin:25px 0 25px 0;
}
.submit-button{
	border:1px solid white;
	border-radius: 4px;
	background:#005D70;
	color:white;
	cursor:pointer;
	padding: 5px 10px 5px 10px;
	font-family:OpenSans;
	-webkit-box-shadow:5px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:5px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:5px 3px 5px 0px rgba(50, 50, 50, 0.75);
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transition:transform .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition:-webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
	-moz-transition:-moz-transform .2s ease-in-out, -moz-box-shadow .2s ease-in-out;;
	-o-transition:-o-transform .2s ease-in-out;
	-ms-transition:-ms-transform .2s ease-in-out;
}
.submit-button:hover{
	transform:scale(1.0);
	-webkit-transform:scale(1.0);
	-moz-transform:scale(1.0);
	-ms-transform:scale(1.0);
	-o-transform:scale(1.0);
	-webkit-box-shadow:0 0 0 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow:0 0 0 0 rgba(50, 50, 50, 0.75);
	box-shadow:0 0 0 0 rgba(50, 50, 50, 0.75);
}
.submit{
	display: block;
	padding: 15px;
	width:100px;
	margin: 0 auto;
	text-align: center;
	background:#005D70;
}
#captcha{
	width:97%;
	height: 30px;
	font-family: OpenSans;
	font-size: 15px;
}
.login{
	text-decoration: none;
}
#content
{
    padding: 20px;
    position:relative;
    z-index: 10;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
#simple3D{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 900px;
	overflow: hidden;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2);
	/*position: absolute;
	z-index: 1;
	width: 100%;
	height: 900px;*/
}
.layer1{
	background:url(../img/1.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}

.layer2{
	background:url(../img/2.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}
.layer3{
	background:url(../img/3.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}

.layer4{
	background:url(../img/4.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}
.layer5{
	background:url(../img/5.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}

.layer6{
	background:url(../img/6.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}
.layer7{
	background:url(../img/7.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}

.layer8{
	background:url(../img/8.png);
	width:100%;
	min-height: 1100px;
	background-size: cover;
	background-repeat: no-repeat;
	/*width:1347px;
	height:542px;*/
	top:0px;
	left:0px
}
#simple3D div{
	/*transition: left 5s ease, top 1s ease;*/
	position:absolute;
	/*width: 100px;
	height:100px;*/
	/*min-height: 1100px; 
	width: 120%;*/
}
/*.trian_1{
	background: url(../img/triangles/1.png) no-repeat;
	background-size:cover; 
}
.trian_2{
	background: url(../img/triangles/2.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_3{
	background: url(../img/triangles/3.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_4{
	background: url(../img/triangles/4.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_5{
	background: url(../img/triangles/5.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_6{
	background: url(../img/triangles/6.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_7{
	background: url(../img/triangles/7.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_8{
	background: url(../img/triangles/8.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_9{
	background: url(../img/triangles/8.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_10{
	background: url(../img/triangles/8.png);
	background-repeat: no-repeat;
	background-size:cover;
}*/
.trian_1{
	background: url(../img/1.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_2{
	background: url(../img/2.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_3{
	background: url(../img/3.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_4{
	background: url(../img/4.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_5{
	background: url(../img/5.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_6{
	background: url(../img/6.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.trian_7{
	background: url(../img/7.png);
	background-repeat: no-repeat;
	background-size:cover; 
}
.trian_8{
	background: url(../img/8.png);
	background-repeat: no-repeat;
	background-size:cover;
}
.error{
	display: none;
	width: 92%;
}