body{
	overflow: hidden;
}
.map-page{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	float:left;
	/*position:relative;*/ 
}
.map{
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%!important; 
	z-index: 1;
	background-color: white;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.map-list-container{
	padding: 0px 10px 0px 10px;
	margin: 0 0 15px 0;
	overflow-y:scroll;
	text-align: left;
}
.map-list-container a{
	color:white;
	font-size:1.5em;
	text-decoration: none;
	border-bottom:1px solid #2D9FB7;
	transition:border-bottom-color .2s ease-in-out;
	-webkit-transition:border-bottom-color .2s ease-in-out;
	-moz-transition:border-bottom-color .2s ease-in-out;
	-o-transition:border-bottom-color .2s ease-in-out;
	-ms-transition:border-bottom-color .2s ease-in-out;
}
.map-list-container a:hover{
	border-bottom-color: white 
}
.map-layer-list-container{
	padding: 0px 10px 0px 10px;
	margin: 0 0 15px 0;
	overflow-y:scroll;
}
.map_controls_container{
	width: 500px;
	position: absolute;
	z-index: 2;
	right: 20px;
}
.map_controls_container_item{
	position: relative;
}
.map-layer-container-header{
	cursor: pointer;
	display: block;
	width: 90%;
	text-align: center;
	padding: 10px;
	margin: 0 auto; 
	font-size: 1.5em;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.map-container-header{
	cursor: pointer;
	display: block;
	width: 90%;
	text-align: center;
	font-size: 1.5em;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.user_container{
	position: absolute;
    /* height: 500px; */
    background: white;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(27,90,99);
    box-shadow: rgba(122, 122, 122, 0.498039) 0.4em 0.4em 5px;
    right: 40px;
    font-family: OpenSans;
    color: rgb(27,90,99);
    border-top: none; 
    margin-top:-10px;
    transition: margin .2s ease-in-out;
}
.login-container-header{
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0 auto; 
	font-size: 1.2em;
	color:white;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.map-container{
	position: absolute;
    /*width: 200px;*/
    /* height: 500px; */
    width: 80%;
    background: #2D9FB7;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(27,90,99);
    box-shadow: rgba(122, 122, 122, 0.498039) 0.4em 0.4em 5px;
    right: 5px;
    font-family: OpenSans;
    color: white;
    border-top: none; 
}
.map-layers-container{
	position: absolute;
    /*width: 300px;*/
    /* height: 500px; */
    width:80%;
    background: #2D9FB7;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(27,90,99);
    box-shadow: rgba(122, 122, 122, 0.498039) 0.4em 0.4em 5px;
    right: 5px;
    font-family: OpenSans;
    color: white;
    border-top: none; 
}
.login-container{
	position: absolute;
    /* height: 500px; */
    width: 60%;
    background: #2D9FB7;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgb(27,90,99);
    box-shadow: rgba(122, 122, 122, 0.498039) 0.4em 0.4em 5px;
    right: 5px;
    font-family: OpenSans;
    color: /*rgb(27,90,99)*/white;
    border-top: none; 
    margin-top:-10px;
    transition: margin .2s ease-in-out;
}
.login-container a{
	text-decoration: none;
	/*border-bottom:1px solid #2D9FB7;
	transition:border-bottom-color .2s ease-in-out;
	-webkit-transition:border-bottom-color .2s ease-in-out;
	-moz-transition:border-bottom-color .2s ease-in-out;
	-o-transition:border-bottom-color .2s ease-in-out;
	-ms-transition:border-bottom-color .2s ease-in-out;*/
}
.login-container a:hover{
	/*border-bottom-color:white;*/
}
.login-container:hover{
	margin-top:0;
}
.olControlPanZoomBar{
	display: block;
}
.markerContent {
padding: 5px 5px 5px 10px;
font: 15px/15px 'OpenSans','Arial Narrow',Helvetica,Arial,sans-serif;
max-width: 450px;
min-width: 350px;
/*color:#1b5a63;*/
color:white;
}
/*.info-panel{
	color:white;
	width: 400px;
    height: 500px;
    position: absolute;
    background: #2D9FB7;
    z-index: 2;
    border-radius: 3px;
    box-shadow: rgba(122,122,122,.498039).4em .4em 5px;
    top:20%;
    left:-500px;
    font-family: OpenSans;
    display: none;
}*/
/*.info-panel h3{
	text-align: center;
}*/
.info-panel{
	overflow: hidden;
}
.info-panel-container-wrapper {
	max-height: 500px;
	margin: 0 0 15px 0;
}
.info-panel-overlay{
	opacity: 0.7;
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 450;
	background-color: rgb(119, 119, 119);
	display:none;
}
.info-panel-header-logo{
	display:inline-block;
	vertical-align: middle;
}
.info-panel-header-title{
	display: inline-block;
	vertical-align: sub;
	font-size: 15px;
	margin: 0 0 0 10px;
}
.info-panel-container{
	width: 400px;
	/*padding:10px 10px 10px 10px;*/
	/*overflow-y:scroll;*/ 
	height: 85%;
	color:white;
	font-family: OpenSans;
}
.info-panel-header{
	padding: 10px;
	text-align: left;
}
.info-panel-content{
	width: 105%;
	text-align: left;
	max-height: 440px;
	overflow-y: scroll;
	padding: 10px;
}
.popup-content {
}
#info-button{
	border:1px solid white;
}
.show-organizations {
	width:50%;

	text-align: center;
	display: inline-block;;
font-size: 10pt;
text-decoration: none;
color: white;
border: 1px solid rgb(0,93,112);
padding: 5px;
margin: 10px 0 10px 0;
border-radius: 3px;
background: rgb(0,93,112);
-webkit-transition: background .5s;
-moz-transition: background .5s;
-o-transition: background .5s;
-ms-transition: background .5s;
transition: background .5s;
}
.map-controllers{
    width: 600px;
    position: absolute;
    z-index: 2;
    right: 0;
    font-family: OpenSans;
}
.map-controllers-button{
	width: 150px;
    height: 49px;
    float: left;
    cursor: pointer;
}
.map-controllers-button:hover{
	background-position: 0 -49px!important;
}
.map-controllers-button .submenu{
	width: 100%;
	margin-top: 48px;
	background: #19BCDC;
	color: white;
	visibility: hidden;
	padding: 10px 0 0px 0;
	background: rgb(79,208,234);
	background: -moz-linear-gradient(45deg, rgba(79,208,234,1) 0%, rgba(10,152,180,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(79,208,234,1)), color-stop(100%,rgba(10,152,180,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(79,208,234,1) 0%,rgba(10,152,180,1) 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(45deg, rgba(79,208,234,1) 0%,rgba(10,152,180,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(79,208,234,1) 0%,rgba(10,152,180,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(79,208,234,1) 0%,rgba(10,152,180,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd0ea', endColorstr='#0a98b4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	opacity: 0;
	-moz-opacity:0;
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

	transition:visibility .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition:visibility .3s ease-in-out, -moz-opacity .3s ease-in-out;

	border-radius: 0 0 5px 5px;

	-webkit-box-shadow: 0px 10px 5px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 10px 5px 6px rgba(0,0,0,0.4);
	box-shadow: 0px 5px 5px 6px rgba(0,0,0,0.4);
}
.map-controllers-button:hover .submenu{
	visibility: visible!important;
	opacity: 1;
	-moz-opacity:1;
	filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.map-controllers-button .submenu ul{
	list-style-type: none;
	display: block;
	padding: 0 0 10px 0;
	margin: 0;
	width: 100%;
}
.map-controllers-button .submenu ul li{
	background: rgba(255, 255, 255, 0);
	padding: 0 0 5px 0;
	width: 100%;
	transition:background .2s ease;
}
.map-controllers-button .submenu ul li:hover{
	background: rgba(255, 255, 255, 0.5);
}
.map-controllers-button .submenu ul li a{
	padding:10px;
	color:white;
	text-decoration: none;
}
.map-controllers-button .submenu label{
	cursor: pointer;
}
.city{
	font-size: 15px;
}
.layers{
	font-size: 15px!important;
}
.layers .submenu{
	width:200%;
}
.zoom-panel{
	position: absolute;
	height: 48px;
	/*width: 103px;*/
	z-index: 2;
	right: 0;
	bottom: 0;
	display: none;
}
.map-measure-tool-button{
	width: 50px;
	height: 47px;
	float: left;
	cursor: pointer;
}
.map-measure-tool-button:hover{
	background-position: 0 -46px!important;
}
.map-zoom-button{
	width: 50px;
	height: 47px;
	float: left;
	cursor: pointer;
}
.map-zoom-button:hover{
	background-position: 0 -46px!important;
}
.popup-logo{
	width:35px;
	display:inline-block;
	margin: 0 10px 0 0;
	vertical-align:middle;
}
.popup-title{
	display:inline-block;
	vertical-align:sub;
}
.olPopupCloseBox{
	width:20px!important;
	height: 20px!important;
	background: url('../img/close-popup.png');
	margin: 10px;
	transition: transform .3s ease-in-out;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out;
	-ms-transition: -ms-transform .3s ease-in-out;
}
.olPopupCloseBox:hover{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.information-frame{
	position: absolute;
	z-index: 5000;
	width: 850px;
	max-height: 600px;
	overflow-y: scroll; 
	border: 4px solid white;
	background: url('../img/information-frame.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	background-color: #015C6E;
	border-radius: 10px;
}
.info-panel{
	display: none;
	position: absolute;
	z-index: 500;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 5px solid white;
	background: #156D7F;
	background: -moz-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(86,189,209,1)), color-stop(100%, rgba(1,85,102,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: radial-gradient(ellipse at center, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.info-panel-close-button{
	position: absolute;
	cursor:pointer;
	width:20px!important;
	height:20px!important;
	top:10px!important;
	right:10px!important;
	background: transparent url('../img/close-popup.png')!important;
	transition: transform .3s ease-in-out;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out;
	-ms-transition: -ms-transform .3s ease-in-out;
}
.info-panel-close-button:hover{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
/*#fancybox-wrap{
	width:auto!important;
}*/
/*#fancybox-outer{
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border: 5px solid white;
	background: #156D7F;
	background: -moz-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(86,189,209,1)), color-stop(100%, rgba(1,85,102,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
	background: radial-gradient(ellipse at center, rgba(86,189,209,1) 0%, rgba(1,85,102,1) 100%);
}*/
/*#fancybox-content{
	background: url(http://workflow.its-spc.ru/geo.itsgis.ru/img/information-frame.png);
	background-size: 50%;
	background-position-x: 0;
	background-position-y: 100%;
	background-repeat: no-repeat;
}*/
/*.fancybox-bg{
	display:none;
}*/
/*#fancybox-close{
	width:20px!important;
	height:20px!important;
	top:10px!important;
	right:10px!important;
	background: transparent url('../img/close-popup.png')!important;
	transition: transform .3s ease-in-out;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out;
	-ms-transition: -ms-transform .3s ease-in-out;
}*/
/*#fancybox-close:hover{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}*/

.busRoute {
	width: 30%;
	float: left;
	text-align: left;
	padding-bottom: 10px;
}
.busRoute img {
	width:25px;
	height:28px;
}
.organization-list{
	padding:0;
	margin:0;
}
.organization-list hr{
	margin:0;
}
.organization-list li{
	list-style-type: none;
	margin: 0 0 10px 0;
}
.organization-item{
	display: none;
}
.organization-link{
	display: block;
	text-decoration: none;
	height: 40px;
	transition:background .2s ease-in-out;
	-webkit-transition:background .2s ease-in-out;
	-moz-transition:background .2s ease-in-out;
	-o-transition:background .2s ease-in-out;
	-ms-transition:background .2s ease-in-out;
	/*padding: 10px 0 10px 0;*/
}
.organization-link:hover{
	background: rgb(30, 121, 139);
}
.organization-schedule-container{
	display:none;
}
.organization-schedule-table{
	text-align:center;
	width:100%;
}
.organization-schedule-table th{
	border:1px solid white;
}
.organization-schedule-table td{
	border:1px solid white;
}
.organization-contact-list{
	display:inline-block;
	margin:0;
	padding:0 0 0 10px;
}
.organization-contact-list li{
	list-style-type: none;
}
.organization-schedule-table time{
	display:block;
}
.about-sign-container, .about-light-container{
	display: none;
}
.about-light {
display:block;
}
legend{
	color:white;
}
#OpenLayers_Control_PanZoomBar_2_panup, #OpenLayers_Control_PanZoomBar_2_panleft, #OpenLayers_Control_PanZoomBar_2_panright, #OpenLayers_Control_PanZoomBar_2_pandown{
	display:none;
}
#feedback-screenshot {
	border: none!important;
	background-color: inherit!important;
	cursor: pointer!important;
	color: white!important;
	text-decoration: underline!important;
}
.feedback-error-container {
	text-align:center;
}
.measurement-block {
	font-size:14pt;color:white;position:absolute; z-index:9999;
 	top: 0; 
 	left: 0; 
 	padding:5px; 
 	border:2px solid white;
 	border-radius:5px; 
 	box-shadow:rgba(122, 122, 122, 0.498039) 0.4em 0.4em 5px;
 	background: #227D8F;display:none
}
