*{box-sizing:border-box;}
body{
	background: #005D70;
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	height:100vh;
}
img{
	border:none;
}
/* grid.css */
.container {
	width:1000px;
	margin:0 auto;
	color:white!important;
	font-family: 'OpenSans';
}
/*custom grid*/
.container .cols{float:left;margin: 0 0 1em;}
.container .cols.col-1{width:8.3333333333333333333333333333333%;}
.container .cols.col-2{width:16.666666666666666666666666666667%;}
.container .cols.col-3{width:25%;}
.container .cols.col-4{width:33.333333333333333333333333333333%;}
.container .cols.col-5{width:41.666666666666666666666666666667%;}
.container .cols.col-6{width:50%;}
.container .cols.col-7{width:58.333333333333333333333333333333%;}
.container .cols.col-8{width:66.666666666666666666666666666667%;}
.container .cols.col-9{width:75%;}
.container .cols.col-10{width:83.333333333333333333333333333333%;}
.container .cols.col-11{width:91.666666666666666666666666666667%;}
.container .cols.col-12{width:100%;}
.container img{max-width: 90%}
/*-----------*/
.container:after
.container:before,
.row:after,
.row:before,
.clear:before,
.clear:after{content: " "; display: table;}
.clear:after, .row:after, .container:after{clear:both;content:" ";}
.clear:before, .row:before, .container:before{clear:both;content:" ";display:block;}
.wrapper{
	min-width: 100%;
	/*height: 100vh;*/
	float:left;
	/*background: #005D70;*/
}
a{ 
	color:white;
}