<div class="popup-info">
	 <div class="popup-header">
		<img class="popup-logo" src="img/barricado-pikto.png">
		<h4 class="popup-title">Ограждение</h4>
	</div>
	 <div class="popup-content">
	 <% if(barricado_type){ %>
		<% if((barricado_type.class_name ) && (barricado_type.class_name  != "None")){ %>
			<p>
			<span>Класс: <%= barricado_type.class_name %> </span>
		</p>
		<% } %>
			<% if((barricado_type.function_type) && (barricado_type.function_type != "None")){ %>
		<p>
			<span>Тип: <%= barricado_type.function_type %> </span>
		</p>
		<% } %>
			<% if ((barricado_type.material) && (barricado_type.material != "None")) { %>
	<p>
			<span>Материал: <%= barricado_type.material %> </span>
		</p>
		<% } %>
	<% } %>
				<% if ((install_date) && (install_date != "None")) { %>
		<p>
			<span>Дата установки: <%= install_date %> </span>
		</p>
		<% } %>
			<% if ((status) && (status != "None")) { %>
		<p>
			<span>Статус: <%= status %> </span>
		</p>
		<% } %>
	</div> 
	<div style="width:100%">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
</div>

