<div class="info-panel-container">
	<div class="info-panel-header">
		<img src="img/barricado-pikto.png" class="info-panel-header-logo"/>
		<h4 class="info-panel-header-title">Ограждение</h4>
	</div>
	<div class="info-panel-content">
	 <% if(barricado_type){ %>
		<% if((barricado_type.class_name ) && (barricado_type.class_name  != "None")){ %>
				<p>
			<span>Класс ограждения: <%= barricado_type.class_name %></span>
		</p>
			
			<% } %>
		<% if ((barricado_type.sub_class) && (barricado_type.sub_class != "None")) { %>
		<p>
			<span>Назначение: <%= barricado_type.sub_class %> </span>
		</p>
		<% } %>
		<% if((barricado_type.group) && (barricado_type.group != "None")){ %>
		<p>
			<span>Группа: <%= barricado_type.group %> </span>
		</p>
		<% } %>

		<% if ((barricado_type.sub_group) && (barricado_type.sub_group != "None")) { %>
		<p>
			<span>Подгруппа: <%= barricado_type.sub_group %> </span>
		</p>
		<% } %>


			<% if((barricado_type.function_type) && (barricado_type.function_type != "None")){ %>
				<p>
			<span>Тип (по принципу работы): <%= barricado_type.function_type %></span>
		</p>
				
		<% } %>
		
			<% if ((barricado_type.material) && (barricado_type.material != "None")) { %>
				<p>
			<span>Материал: <%= barricado_type.material %> </span>
		</p>		
		<% } %>
			
		<% } %>

		<% if ((condition) && (condition != "None")) { %>
		<p>
			<span>Состояние: <%= condition %> </span>
		</p>
		<% } %>

		<% if ((road_side) && (road_side != "None")) { %>
		<p>
			<span>Сторона дороги: <%= road_side %> </span>
		</p>
		<% } %>


		<% if (+height) { %>
		<p>
			<span>Высота: <%= height %> м. </span>
		</p>
		<% } %>
			<% if (+length) { %>
		<p>
			<span>Длина: <%= length %> м. </span>
		</p>
	<% } %>
	<% if (+bracket_step) { %>
		<p>
			<span>Длина секции: <%= bracket_step %> м. </span>
		</p>
	<% } %>
		<% if ((bracket_count)  && (bracket_count != 0)) { %>
		<p>
			<span>Количество секций: <%= bracket_count %> </span>
		</p>
	<% } %>


		<% if (photoes.length) { %>
			<a href="#" id="show_photoes" >Фотографии</a>
<% } %>
		

				<% if ((install_date) && (install_date != "None")) { %>
		<p>
			<span>Дата установки: <%= install_date %> </span>
		</p>
		<% } %>
		<% if ((install_reason) && (install_reason != "None")) { %>
		<p>
			<span>Причина установки: <%= install_reason %> </span>
		</p>
		<% } %>
			
			<% if ((status) && (status != "None")) { %>
		<p>
			<span>Статус: <%= status %> </span>
		</p>
		<% } %>
		<% if(responsible_organization){ %>
		<hr>
		<h4>Ответственная организация</h4>
		<%= new EJS({url: 'templates/organization_info_template.ejs'}).render(responsible_organization) %>
		<% } %>
	</div>
<div/>