<div class="info-panel-container">

	<div class="info-panel-header">
		<% if((name) && (name  != "None")){ %>
			<h4 class="popup-title" style="margin-bottom:0px;">Остановка «<%= name %>»</h4>
			<% }  else { %>
			<h4 class="popup-title" style="margin-bottom:0px;" >Остановка общественного транспорта</h4>
		
				<% }   %>	
	</div>
	<div class="info-panel-content">
			<hr>
	<h4>Остановка общественного транспорта</h4>
<% switch (pocket) {  
   					case true:{ %>
   						<p><span>Наличие кармана: Есть </span>
		</p>  
   					<% }break; 
   					case false:{ %>
   						<p>
			<span>Наличие кармана: Нет </span>
		</p>  
   					<% }break;
				} %>
				<% if ((road_side) && (road_side != "None")) { %>
		<% switch (road_side) {  
   					case "Right":{ %>
   					<p>
			<span>Сторона дороги: Правая </span>
		</p>
   					<% }break; 
   					case "Left":{ %>
   					<p>
			<span>Сторона дороги: Левая </span>
		</p>
   					<% }break;
				} %>

		<% } %>
		
			<% if (photoes.length) { %>
			<a href="#" id="show_photoes" >Фотографии</a>
<% } %>
<hr>
<div class style="width:100%;"><h4 class="popup-title">Маршруты</h4></div>
<% if(routes.length ) { %>

	<% for (i = 0; i < routes.length; i++) { %>
		
				
			<div class="busRoute">
			<% if(routes[i].transport_type == "Автобус" ) { %>
			<span><img class="popup-logo" src="img/busstop-pikto.png"> № <%= routes[i].route_name %> </span>
			<% } else if(routes[i].transport_type == "Трамвай" ) { %>
			<span><img class="popup-logo" src="img/tram.png"> № <%= routes[i].route_name %> </span>
			<% } else if(routes[i].transport_type == "Троллейбус" ) { %>
			<span><img class="popup-logo" src="img/trolley.png"> № <%= routes[i].route_name %> </span>
			<% } %>
		</div>
		
		<% } %>
		
		<% } %>
	</div>
<div/>