<div class="popup-info">
	<div class="popup-header">
		<% if((name) && (name  != "None")){ %>
		<h4 class="popup-title">Остановка «<%= name %>»</h4>
		<hr>
			 <h4 class="popup-title">Маршруты</h4>
		<% } %>
	</div>
	 <div class="popup-content">

<% if(routes.length ) { %>

	<% for (i = 0; i < routes.length; i++) { %>
		
				
			<div class="busRoute">
			<% if(routes[i].transport_type == "Автобус" ) { %>
			<span><img class="popup-logo" src="img/busstop-pikto.png"> № <%= routes[i].route_name %> </span>
			<% } else if(routes[i].transport_type == "Трамвай" ) { %>
			<span><img class="popup-logo" src="img/tram.png"> № <%= routes[i].route_name %> </span>
			<% } else if(routes[i].transport_type == "Троллейбус" ) { %>
			<span><img class="popup-logo" src="img/trolley.png"> № <%= routes[i].route_name %> </span>
			<% } %>
		</div>
		
		<% } %>
		
		<% } %>
	</div>
	<div style="width:100%; clear:both">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
	
</div>