<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/light-pikto.png">
		<h4 class="popup-title">Освещение</h4>
	</div>
	 <div class="popup-content">
	 
		<% if(post_type ) { %>
			<p>
			<span>Схема установки фонарей: <%= post_type %> </span>
		</p>
		<% } %>
			<% if((post_material) && (post_material != "Не задан")){ %>
		<p>
			<span>Тип материала опоры: <%= post_material %> </span>
		</p>
		<% } %>
			
	</div> 
	<div style="width:100%">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
</div>