<div class="info-panel-container">

	<div class="info-panel-header">
		<img class="popup-logo" src="img/light-pikto.png">
		<h4 class="popup-title">Освещение</h4>
	</div>
	<div class="info-panel-content">
			<% if(post_type ) { %>
			<p>
			<span>Схема установки фонарей: <%= post_type %> </span>
		</p>
		<% } %>
			<% if((post_material) && (post_material != "Не задан")){ %>
		<p>
			<span>Тип материала опоры: <%= post_material %> </span>
		</p>
		<% } %>
		<% if (light_post_grouping.length) { %>
			<% for (i = 0; i < light_post_grouping.length; i++) { %>
			<fieldset name="lights_group">
			<legend>Группировка фонарей</legend>
			<p>
			<span>Вертик. угол располож. фонарей: <%= light_post_grouping[i].angle %> град. </span>
		</p>
		<p>
			<span>Высота расположения фонарей: <%= light_post_grouping[i].height %> м. </span>
		</p>
		<p>
			<span>Расстояние от опоры до фонарей: <%= light_post_grouping[i].radius %> м. </span>
		</p>

				<% for (j = 0; j < light_post_grouping[i].grouping_lamps.length; j++) { %>
					
		<a class="about-light" href="#">Фонарь <%= light_post_grouping[i].grouping_lamps[j].lamp_type.name %> </a>
		<div class="about-light-container" style="margin:10px 0 10px 0">
				<p>
			<span>Угол: <%= light_post_grouping[i].grouping_lamps[j].angle %> град. </span>
		</p>
		<p>
			<span>Световой поток: <%= light_post_grouping[i].grouping_lamps[j].lamp_type.light_flow %> лм. </span>
		</p>
				<p>
			<span>Мощность: <%= light_post_grouping[i].grouping_lamps[j].lamp_type.power %> Вт. </span>
		</p>

		</div>
		<p></p>
			<% } %>
				</fieldset>
			<% } %>
<% } %>
	<% if (photoes.length) { %>
			<a href="#" id="show_photoes" >Фотографии</a>
<% } %>
	</div>
	</div>