<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/crossroad-pikto.png">
		<h4 class="popup-title">Перекресток</h4>
	</div>
	<div class="popup-content">
		<p><%= crossroad_name %></p>
	</div>
</div>