<div class="popup-info">
	 <div class="popup-header">
		<img class="popup-logo" src="img/global-coordinates-icon.png">
		<h4 class="popup-title">Координаты места</h4>
	</div>
	 <div class="popup-content">
	 	<%/* if(localCoordinates) { */%>
	 			<%/* if (localCoordinates.latitude && localCoordinates.longitude) { */%>
	 					
	 			<%/* } */%>
	 	<%/* } */%>
	 	<% /* if(globalCoordinates) { */%>
	 			<% /*if (globalCoordinates.latitude && globalCoordinates.longitude) { */%>
	 					<h4 style="margin: 10px 0 10px 0">Локальные координаты:</h4>
	 					<p style="margin: 10px 0 10px 0">
							<span style="margin: 0 0 0 15px">X: <%= (x) ? (Math.round(x * 100) / 100) : ("неизвестно") %> </span>
						</p>
						<p style="margin: 10px 0 10px 0">
							<span style="margin: 0 0 0 15px">Y: <%= (y) ? (Math.round(y * 100) / 100) : ("неизвестно") %> </span>
						</p>
	 					
	 					<h4 style="margin: 10px 0 10px 0">Глобальные координаты:</h4>
	 					<p style="margin: 10px 0 10px 0">
							<span style="margin: 0 0 0 15px">Широта: <%= (latitude) ? (latitude) : ("неизвестно") %> </span>
						</p>
						<p style="margin: 10px 0 10px 0">
							<span style="margin: 0 0 0 15px">Долгота: <%= (longitude) ? (longitude) : ("неизвестно") %> </span>
						</p>
	 			<% /*}*/ %>
	 	<% /*}*/ %>
	</div>
</div>

