<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/house-pikto.png">
		<h4 class="popup-title">Строения</h4>
	</div>
	<div class="popup-content">
		<% if(address && (address.district || address.street_house)){ %>
				<p>
					<span>Адрес: 
							<% if(address.district) { %>
										<%= address.district %>, 
							<% } %>
							<% if(address.street_house) { %>
										<%= address.street_house %> 
							<% } %>
					</span>
				</p>
	<% } %>
	</div>
	<div style="width:100%">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
</div>