<div class="info-panel-container" style="width:600px">
	<div class="info-panel-header">
		<img src="img/house-pikto.png" class="info-panel-header-logo"/>
		<% if(address && (address.district || address.street_house)){ %>
				<span class="info-panel-header-title">Адрес: 
					<% if(address.district) { %>
							<%= address.district %>, 
					<% } %>
					<% if(address.street_house) { %>
							<%= address.street_house %> 
					<% } %>
				</span>
		<% } %>
	</div>
	<div class="info-panel-content" style="width: 103%;">
		<% if(organizations && (organizations.length != 0)){ %>
				<hr>
				<h4>Организации</h4>
				<ul class="organization-list">
				<% for(var i = 0, maxi = organizations.length; i < maxi; i++){ %>
					<hr>
					<a class="organization-link" href="#"><%= organizations[i].name %></a>
					<li class="organization-item">
					<%= new EJS({url: 'templates/organization_info_template.ejs'}).render(organizations[i]) %>
					</li>
				<% } %>
				</ul>
		<% } %>
	</div> 
<div/>