<div class="info-panel-container">
	<div class="info-panel-header">
		<h4 class="info-panel-header-title">Ошибка на карте</h4>
	</div>
	<div class="info-panel-content">
		<div id="exportedImage" class="smallmap"  style="display:none; background-color:white; border:1px solid black; width:390px; height:390px; position:relative; margin:30px">
		</div>
		<div class="map-feedback-inputs" style="padding: 10px">
			<div class="feedback-error-container" id="feedback-error-container">
			</div>
			<form id="feedback-form">
				<% if (clickCoordinates) { %>
						<span style="display:none; color: white; font-size: 15px; margin:2px 0 0 0">Широта</span>
						<input name="feedback_lat" readonly style="padding:5px; background-color:#0E6576; display:none; color: white; font-size: 12px; width:100%" value="<%= clickCoordinates.lat %>" />
						<span style="display:none; color: white; font-size: 15px; margin:2px 0 0 0">Долгота</span>
						<input name="feedback_lon" readonly style="padding:5px; background-color:#0E6576; display:none; color: white; font-size: 12px; width:100%" value="<%= clickCoordinates.lon %>" />
				<% } %>
				<% if (address) { %>
					<% if (address.district) { %>
						<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Район</span>
						<input name="feedback_district" readonly style="padding:5px; background-color:#0E6576; display:block; color: white; font-size: 12px; width:100%" value="<%= address.district %>" />
					<% } else { %>
							<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Район</span>
							<input name="feedback_district" style="padding:5px; background-color:#0E6576; display:block; color: white; font-size: 12px; width:100%" value="" />
					<% } %>
					<% if (address.street_house) { %>
						<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Улица/дом</span>
						<input name="feedback_street" readonly style="padding:5px; background-color:#0E6576; display:block; color: white; font-size: 12px; width:100%" value="<%= address.street_house %>" />
					<% } else { %>
							<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Улица/дом</span>
							<input name="feedback_street" style="padding:5px; background-color:#0E6576; display:block; color: white; font-size: 12px; width:100%" value="" />
					<% } %>
				<% } %>
				<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Имя</span>
				<input name="sender_name" style="font-family: OpenSans; width:100%; height:35px; font-size: 12px;" type="text" placeholder="Имя" />
				<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Электронная почта</span>
				<input name="sender_email" style="font-family: OpenSans; width:100%; height:35px; font-size: 12px;" type="text" placeholder="Электронная почта" />
				<span style="display:block; color: white; font-size: 15px; margin:2px 0 0 0">Комментарии</span>
				<textarea name="feedback_comment" placeholder="Какие данные некорректны?" style="font-family:OpenSans; width: 100%; resize: none; height:100px; font-size: 12px;"></textarea>
				<input id="feedback-screenshot" type="file" name="screenshot"/>
				<input id="send-feedback" class="show-organizations" type="submit" name="okbutton" value="Отправить" style="border:1px solid white;border: 1px solid white;float: right;display: inline-block;">
			</form>
		</div>
	</div>
</div>
