<div class="info-panel-container">
	<% if (messageHeader) { %>
			<div class="info-panel-header">
				<h4 class="info-panel-header-title"><%= messageHeader %></h4>
			</div>
	<% } %>
	<% if (messageBody) { %>
			<div class="info-panel-content" style="text-align:center; font-size:15px">
				<p><%= messageBody %></p>
			</div>
	<% } %>
<div/>