<% if(name){ %>
			<p><span>Название организации: <%= name %></span></p>
	<% } %>
	<% if(categories.length) { %>
							<div>
							<span style="vertical-align:top;">Категории: </span>
							<ul style="display:inline-block; margin:0;padding:0 0 0 25px">
								<% for(var i = 0, maxi = categories.length; i < maxi; i++) { %>
										<li><%= categories[i] %></li>
								<% } %>
							</ul>
							</div>
				<% } %>
	<% if(address && (address.district || address.street_house)){ %>
				<p>
					<span>Адрес: 
							<% if(address.district) { %>
										<%= address.district %>, 
							<% } %>
							<% if(address.street_house) { %>
										<%= address.street_house %>, 
							<% } %>
					</span>
				</p>
	<% } %>
	<% if(contact && (contact.emails.length || contact.faxes.length || contact.icqs.length || contact.mobile_phones.length || contact.phones.length || contact.sites.length)) { %>
				<p><span>Контактная информация:</span></p>
				<% if(contact.phones.length) { %>
							<div style="margin: 0 0 5px 0">
							<img style="vertical-align:top; margin: 0 0 0 20px" src="img/phone-icon.png" />
							<ul class="organization-contact-list">
								<% for(var i = 0, maxi = contact.phones.length; i < maxi; i++) { %>
										<li><a href="callto:<%= contact.phones[i] %>"><%= contact.phones[i] %></a></li>
								<% } %>
							</ul>
							</div>
				<% } %>
				<% if(contact.mobile_phones.length) { %>
							<div style="margin: 0 0 5px 0">
							<img style="vertical-align:top; margin: 0 0 0 20px" src="img/mobile-phone-icon.png" />
							<ul class="organization-contact-list">
								<% for(var i = 0, maxi = contact.mobile_phones.length; i < maxi; i++) { %>
										<li><a href="callto:<%= contact.mobile_phones[i] %>"><%= contact.mobile_phones[i] %></a></li>
								<% } %>
							</ul>
							</div>
				<% } %>
				<% if(contact.faxes.length) { %>
							<div style="margin: 0 0 5px 0">
							<img style="vertical-align:top; margin: 0 0 0 20px" src="img/fax-icon.png" />
							<ul class="organization-contact-list">
								<% for(var i = 0, maxi = contact.faxes.length; i < maxi; i++) { %>
										<li><%= contact.faxes[i] %></li>
								<% } %>
							</ul>
							</div>
				<% } %>
				<% if(contact.sites.length) { %>
							<div style="margin: 0 0 5px 0">
							<img style="vertical-align:top; margin: 0 0 0 20px" src="img/site-icon.png" />
							<ul class="organization-contact-list">
								<% for(var i = 0, maxi = contact.sites.length; i < maxi; i++) { %>
										<li><a target="_blank" href="http://<%= contact.sites[i] %>"><%= contact.sites[i] %></a></li>
								<% } %>
							</ul>
							</div>
				<% } %>
				<% if(contact.icqs.length) { %>
							<div style="margin: 0 0 5px 0">
							<img style="vertical-align:top; margin: 0 0 0 20px" src="img/icq-icon.png" />
							<ul class="organization-contact-list">
								<% for(var i = 0, maxi = contact.icqs.length; i < maxi; i++) { %>
										<li><%= contact.icqs[i] %></li>
								<% } %>
							</ul>
							</div>
				<% } %>
				<% if(contact.emails.length) { %>
							<div style="margin: 0 0 5px 0">
							<img style="vertical-align:middle; margin: 0 0 0 20px" src="img/email-icon.png" />
							<ul class="organization-contact-list">
								<% for(var i = 0, maxi = contact.emails.length; i < maxi; i++) { %>
										<li><a href="mailto:<%= contact.emails[i] %>"><%= contact.emails[i] %></a></li>
								<% } %>
							</ul>
							</div>
				<% } %>
	<% } %>
	<% if(work_time){ %>
			<img style="vertical-align:top; margin: 0 0 0 20px" src="img/time-icon.png" />
			<a href="#" class="organization-schedule-link" style="padding: 0 0 0 10px">Время работы</a>
			<div class="organization-schedule-container">
			<table class="organization-schedule-table">
				<tbody>
					<tr>
						<th>пн</th>
						<th>вт</th>
						<th>ср</th>
						<th>чт</th>
						<th>пт</th>
						<th>сб</th>
						<th>вс</th>
					</tr>
					<tr>
						<td>
							<% if(work_time.monday.start_time && work_time.monday.end_time){ %>
									<time><%= work_time.monday.start_time %></time>
									<time><%= work_time.monday.end_time %></time>
							<% } %>
						</td>
						<td>
							<% if(work_time.tuesday.start_time && work_time.tuesday.end_time){ %>
									<time><%= work_time.tuesday.start_time %></time>
									<time><%= work_time.tuesday.end_time %></time>
							<% } %>
						</td>
						<td>
							<% if(work_time.wednesday.start_time && work_time.wednesday.end_time){ %>
									<time><%= work_time.wednesday.start_time %></time>
									<time><%= work_time.wednesday.end_time %></time>
							<% } %>
						</td>
						<td>
							<% if(work_time.thursday.start_time && work_time.thursday.end_time){ %>
									<time><%= work_time.thursday.start_time %></time>
									<time><%= work_time.thursday.end_time %></time>
							<% } %>
						</td>
						<td>
							<% if(work_time.friday.start_time && work_time.friday.end_time){ %>
									<time><%= work_time.friday.start_time %></time>
									<time><%= work_time.friday.end_time %></time>
							<% } %>
						</td>
						<td>
							<% if(work_time.saturday.start_time && work_time.saturday.end_time){ %>
									<time><%= work_time.saturday.start_time %></time>
									<time><%= work_time.saturday.end_time %></time>
							<% }
								else{ %>
										<time>-</time>
								<% } %>
						</td>
						<td>
							<% if(work_time.sunday.start_time && work_time.sunday.end_time){ %>
									<time><%= work_time.sunday.start_time %></time>
									<time><%= work_time.sunday.end_time %></time>
							<% }
							else{ %>
										<time>-</time>
								<% } %>
						</td>
					</tr>
					<tr>
						<th colspan=7>Обед</th>
					</tr>
					<tr>
						<td>
							<% if(work_time.monday.dinner_time.start_time && work_time.monday.dinner_time.end_time){ %>
									<time><%= work_time.monday.dinner_time.start_time %></time>
									<time><%= work_time.monday.dinner_time.end_time %></time>
							<% } 
								else{ %>
									<time>-</time>
							<% } %>
						</td>
						<td>
							<% if(work_time.tuesday.dinner_time.start_time && work_time.tuesday.dinner_time.end_time){ %>
									<time><%= work_time.tuesday.dinner_time.start_time %></time>
									<time><%= work_time.tuesday.dinner_time.end_time %></time>
							<% }
								else{ %>
									<time>-</time>
							<% } %>
						</td>
						<td>
							<% if(work_time.wednesday.dinner_time.start_time && work_time.wednesday.dinner_time.end_time){ %>
									<time><%= work_time.wednesday.dinner_time.start_time %></time>
									<time><%= work_time.wednesday.dinner_time.end_time %></time>
							<% }
							else{ %>
										<time>-</time>
								<% } %>
						</td>
						<td>
							<% if(work_time.thursday.dinner_time.start_time && work_time.thursday.dinner_time.end_time){ %>
									<time><%= work_time.thursday.dinner_time.start_time %></time>
									<time><%= work_time.thursday.dinner_time.end_time %></time>
							<% }
							else{ %>
										<time>-</time>
								<% } %>
						</td>
						<td>
							<% if(work_time.friday.dinner_time.start_time && work_time.friday.dinner_time.end_time){ %>
									<time><%= work_time.friday.dinner_time.start_time %></time>
									<time><%= work_time.friday.dinner_time.end_time %></time>
							<% }
							else{ %>
										<time>-</time>
								<% } %>
						</td>
						<td>
							<% if(work_time.saturday.dinner_time.start_time && work_time.saturday.dinner_time.end_time){ %>
									<time><%= work_time.saturday.dinner_time.start_time %></time>
									<time><%= work_time.saturday.dinner_time.end_time %></time>
							<% }
								else{ %>
										<time>-</time>
								<% } %>
						</td>
						<td>
							<% if(work_time.sunday.dinner_time.start_time && work_time.sunday.dinner_time.end_time){ %>
									<time><%= work_time.sunday.dinner_time.start_time %></time>
									<time><%= work_time.sunday.dinner_time.end_time %></time>
							<% }
							else{ %>
										<time>-</time>
								<% } %>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
	<% } %>