<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/road-signs.png">
		<h4 class="popup-title">Дорожные знаки и светофоры</h4>
	</div>
	<div class="popup-content">
		<% if(address){ %>
			<p>
				<span>Адрес: <%= address %></span>
			</p>
		<% } %>
		<% if(post_type){ %>
			<p>
				<span>Вид опоры: <%= post_type %></span>
			</p>
		<% } %>
		<% if(quality && (quality != "None")){ %>
			<p>
				<span>Материал опоры: <%= quality %></span>
			</p>
		<% } %>
		<% if(post_groupings && (post_groupings.length)){ %>
			<p>
				<span>Количество группировок: <%= post_groupings.length %></span>
			</p>
		<% } %>
	</div>
	<div style="width:100%">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
</div>