<div class="info-panel-container" style="width:600px">
	<div class="info-panel-header">
		<img src="img/road-signs.png" class="info-panel-header-logo"/>
		<h4 class="info-panel-header-title">Дорожные знаки и светофоры</h4>
	</div>
	<div class="info-panel-content" style="width:103%">
		<% if(address) { %>
			<p>
				<span>Адрес: <%= address %></span>
			</p>
		<% } %>
		<% if(post_type){ %>
			<p>
				<span>Вид опоры: <%= post_type %></span>
			</p>
		<% } %>
		<% if(quality && (quality != "None")){ %>
			<p>
				<span>Материал опоры: <%= quality %></span>
			</p>
		<% } %>
		<% if(post_groupings && (post_groupings.length)) { %>
				<% for(var i = 0, maxi = post_groupings.length; i < maxi; i++) { %>
							<% if(post_groupings[i]) { %>
								<fieldset name="post_grouping">
									<legend>Группировка #<%= post_groupings[i].group_number %></legend>
									<% if(post_groupings[i].post_objects.length) { %>
											<% for( var j = 0, maxj = post_groupings[i].post_objects.length; j < maxj; j++) { %>
													<% if(post_groupings[i].post_objects[j].post_object_type == "sign") { %>
															<%= new EJS({url: 'templates/sign_info_template.ejs'}).render(post_groupings[i].post_objects[j]) %>
															<hr>
													<% } %>
													<% if(post_groupings[i].post_objects[j].post_object_type == "traffic_light") { %>
															<%= new EJS({url: 'templates/traffic_light_info_template.ejs'}).render(post_groupings[i].post_objects[j]) %>
															<hr>
													<% } %>
											<% } %>
									<% } %>
								</fieldset>
							<% } %>
				<% } %>
		<% } %>
	</div>
<div/>