<div class="info-panel-container">

	<div class="info-panel-header">
		<img class="popup-logo" src="img/road-marking-pikto.png">
		<h4 class="popup-title">Дорожная разметка</h4>
	</div>
	<div class="info-panel-content">


		<% if(road_marking_type ) { %>
				<% if(road_marking_type.type_number ) { %>
			<p>
			<span>Тип разметки: <%= road_marking_type.type_number %>
			<% if(road_marking_material.is_reflective) { %>
				(световозвращающий)
				<% } %>
			 </span>
		</p>
		<% } %>
		<% } %>
			<% if(road_marking_material){ %>
				<% if(road_marking_material.material_name){ %>
		<p>
			<span>Материал разметки: <%= road_marking_material.material_name %> </span>
		</p>
		<% } %>
		<% } %>
	<p>
			<span>Качество: <%= quality %> % </span>
		</p>

	</div>
	</div>