<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/road-marking-pikto.png">
		<h4 class="popup-title">Дорожная разметка</h4>
	</div>
	 <div class="popup-content">
	 
		<% if(road_marking_type ) { %>
				<% if(road_marking_type.type_number ) { %>
			<p>
			<span>Тип разметки: <%= road_marking_type.type_number %> </span>
		</p>
		<% } %>
		<% } %>
			<% if(road_marking_material){ %>
				<% if(road_marking_material.material_name){ %>
		<p>
			<span>Материал разметки: <%= road_marking_material.material_name %> </span>
		</p>
		<% } %>
		<% } %>
			
	
	</div> 
	<div style="width:100%">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
</div>