<div class="sign_template" style="margin:0">
	<% if(sign_picture) { %>
			<img style="height:40px; vertical-align:middle;margin:0 10px 0 0" src="<%= sign_picture %>" />
	<% } %>
	<a class="about-sign" href="#">
		<%= sign_type.gost_number %> <%= sign_type.name %>
	</a>
	<div class="about-sign-container" style="margin:10px 0 10px 0">
		<% if(sign_state && (sign_state != "None")) { %>
				<p style="margin:0">
					<span>Состояние: <%= sign_state %></span>
				</p>
		<% } %>
		<% if(install_date) { %>
				<p style="margin:0">
					<span>Дата установки: <%= install_date %></span>
				</p>
		<% } %>
		<% if(inspection_date) { %>
				<p style="margin:0">
					<span>Дата обследования: <%= inspection_date %></span>
				</p>
		<% } %>
		<% if(typeof is_gost == "boolean") { %>
				<p style="margin:0">
					<% switch(is_gost){
						case true:{ %>
							<span>Соответствует ГОСТу: да</span>
						<% }break;
						case false:{ %>
							<span>Соответствует ГОСТу: нет</span>
						<% }break;
					} %>
				</p>
		<% } %>
		<% if(typeof is_diode == "boolean") { %>
				<p style="margin:0">
					<% switch(is_diode){
						case true:{ %>
							<span>Светодиодный: да</span>
						<% }break;
						case false:{ %>
							<span>Светодиодный: нет</span>
						<% }break;
					} %>
				</p>
		<% } %>
		<% if(sign_size) { %>
			<% if(sign_size.size_type) { %>
					<p style="margin:0">
						<span>Типоразмер: <%= sign_size.size_type %></span>
					</p>
			<% } %>
			<% if(sign_size.width && sign_size.height) { %>
					<p style="margin:0">
						<span>Размеры: <%= sign_size.width %> x <%= sign_size.height %></span>
					</p>
			<% }
				else{ %>
						<p style="margin:0">
							<% if(sign_size.width){ %>
									<span>Размеры: <%= sign_size.width %></span>
							<% } %>
							<% if(sign_size.height){ %>
									<span>Размеры: <%= sign_size.height %></span>
							<% } %>
						</p>
				<% } %>
		<% } %>
		<% if(note) { %>
				<span>Примечание: <%= note %></span>
		<% } %>
		<% if(photoes && (photoes.length)) { %>
				<a href="#" id="show_photoes" class="<%= id %>">Фотографии</a>
		<% } %>
	</div>
</div>