<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/street-pikto.png">
		<h4 class="popup-title">Улица</h4>
	</div>
	<div class="popup-content">
		<p><%= street_name %></p>
	</div>
</div>