<div class="traffic_light_template" style="margin:0">
	<% if(sign_picture) { %>
			<img style="width:40px; vertical-align:middle;margin:0 10px 0 0" src="<%= sign_picture %>" />
	<% } %>
	<a href="#" class="about-sign">СВЕТОФОР</a>
	<div class="about-sign-container" style="margin:10px 0 10px 0">
		<% if(construct) { %>
				<% if(construct.variant_name) { %>
						<p style="margin:0">
							<span>Конструкция: <%= construct.variant_name %></span>
						</p>
				<% } %>
				<p style="margin:0">
					<span>Вариант конструкции: </span>
					<% if(construct.type_name) { %>
							<span><%= construct.type_name %> | </span>
					<% } %>
					<% if(construct.red_first){ %>
							<span>Красный <%= construct.red_first %>; </span>
					<% } %>
					<% if(construct.yellow_first){ %>
							<span>Желтый <%= construct.yellow_first %>; </span>
					<% } %>
					<% if(construct.green_first){ %>
							<span>Зеленый <%= construct.green_first %>; </span>
					<% } %>
					<% if(construct.green_additional){ %>
							<span>Дополнительный зеленый <%= construct.green_additional %>; </span>
					<% } %>
					<% if(construct.white_moon){ %>
							<span>Бело-лунный <%= construct.white_moon %>; </span>
					<% } %>
				</p>
		<% } %>
		<% if((is_active != null) && (is_active != "None")) { %>
				<p style="margin:0">
					<% if(is_active) { %>
							<span>Статус: включен</span>
					<% } else { %>
							<span>Статус: выключен</span>
						<% } %>
				</p>
		<% } %>
		<% if(light_state && (light_state != "None")) { %>
				<p style="margin:0">
					<span>Состояние: <%= light_state %></span>
				</p>
		<% } %>
		<% if(role && (role != "None")) { %>
				<p style="margin:0">
					<span>Роль: <%= role %></span>
				</p>
		<% } %>
		<% if(is_light_diode) { %>
				<p style="margin:0">
					<span>Вариант исполнения: светодиодный</span>
				</p>
		<% } %>
		<% if((numeric_display != null) && (numeric_display != "None")) { %>
				<% if(numeric_display == true) { %>
						<p style="margin: 0">
							<span>Индиктаор времени: есть</span>
						</p>
				<% } else { %>
						<p style="margin: 0">
							<span>Индиктаор времени: нет</span>
						</p>
				<% } %>
		<% } %>
		<% if((signalization != null) && (signalization != "None")) { %>
				<% if(signalization == true) { %>
						<p style="margin: 0">
							<span>Звуковая сигнализация: есть</span>
						</p>
				<% } else { %>
						<p style="margin: 0">
							<span>Звуковая сигнализация: нет</span>
						</p>
				<% } %>
		<% } %>
		<% if(inspection_date) { %>
				<p style="margin:0">
					<span>Дата проверки: <%= inspection_date %></span>
				</p>
		<% } %>
		<% if(uninstall_date) { %>
				<p style="margin: 0">
					<span>Дата демонтажа: <%= uninstall_date %></span>
				</p>
		<% } %>
		<% if(note) { %>
				<p style="margin">
					<span>Примечание: <%= note %></span>
				</p>
		<% } %>
		<% if(photoes && (photoes.length)) { %>
				<a href="#" id="show_photoes" class="<%= id %>">Фотографии</a>
		<% } %>
	</div>
</div>