<div class="info-panel-container">
	<div class="info-panel-header">
		<img src="img/tt-pikto.png" class="info-panel-header-logo"/>
		<h4 class="info-panel-header-title">Закрепленная территория</h4>
	</div>
	<div class="info-panel-content">
		<% if(territory_name) {%>
			<p>
				<span>Название: <%= territory_name %></span>
			</p>
		<% } %>
		<% if(square) {%>
			<p>
				<span>Площадь: <%= square %> м<sup>2</sup></span>
			</p>
		<% } %>
		<% if(tied_territory_contracts.length) { %>
				<hr>
				<h4>Контракт</h4>
				<% if(tied_territory_contracts[0].contract_number) { %>
						<p><span>Номер контракта: <%= tied_territory_contracts[0].contract_number %></span></p>
				<% } %>
				<% if(tied_territory_contracts[0].square) { %>
						<p><span>Площадь: <%= tied_territory_contracts[0].square %> м<sup>2</sup></span></p>
				<% } %>
				<% if(tied_territory_contracts[0].contract_date) { %>
						<p><span>Подписан: <%= tied_territory_contracts[0].contract_date %></span></p>
				<% } %>
				<% if(tied_territory_contracts[0].begin_date) { %>
						<p><span>Начало действия: <%= tied_territory_contracts[0].begin_date %></span></p>
				<% } %>
				<% if(tied_territory_contracts[0].end_date) { %>
						<p><span>Действителен до: <%= tied_territory_contracts[0].end_date %></span></p>
				<% } %>
				<% if(tied_territory_contracts[0].photoes && tied_territory_contracts[0].photoes.length) { %>
						<a rel="fancy-photo" id="show_photoes" href="#">Скан-образ котрактов</a>
				<% } %>
				<% if(tied_territory_contracts[0].organization){ %>
					<hr>
					<h4>Организация</h4>
					<%= new EJS({url: 'templates/organization_info_template.ejs'}).render(tied_territory_contracts[0].organization) %>
				<% } %>
		<% } %>
	</div>
<div/>