<div class="popup-info">
	<div class="popup-header">
		<img class="popup-logo" src="img/tt-pikto.png">
		<h4 class="popup-title">Закрепленная территория</h4>
	</div>
	<div class="popup-content">
		<% if(territory_name){ %>
			<p>
				<span>Название: <%= territory_name %></span>
			</p>
		<% } %>
		<p>
			<span>Площадь: <%= square %> кв.м</span>
		</p>
	</div>
	<div style="width:100%">
		<a rel="fancy-info" id="info-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block;float:left">Подробнее</a>
		<a rel="fancy-info" id="feedback-button" href="#" class="show-organizations" style="border:1px solid white; display:inline-block; width:48%;margin:10px 0 10px 6px">Сообщить об ошибке</a>
	</div>
</div>